.company-name{
    font-size:36px;
    font-weight:800;
    color:#000;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:5px;
}

.company-type{
    font-size:22px;
    font-weight:700;
    color:#ff5a00;
    text-transform:uppercase;
    letter-spacing:3px;
    margin-bottom:20px;
}

.title{
    color:#666;
    font-size:18px;
    font-weight:500;
    margin-bottom:25px;
}
